#nav {
  height: 140px;
  margin-top: 20px;
  background: cornflowerblue;
}
#header {
  background: aquamarine;
  height: 80px;
  line-height: 80px;
  text-align: center;
}
#content {
  min-height: 800px;
  background: #ccc;
  padding: 50px;
  overflow: auto;
}
#content .aside {
  float: left;
  width: 100px;
  min-height: 400px;
  background: blueviolet;
}
#content .main {
  overflow: auto;
  background: #fff;
  padding-left: 20px;
  min-height: 800px;
}
#footer {
  background: #333;
}
